.banner {

  box-shadow: var(--shadow-box);

  .carousel-control-next {
    z-index: 3 !important;
  }
  .carousel-control-prev {
    z-index: 3 !important;
  }
  .coverDark {
    height: 100%;
    width: 100%;
    background: var(--color-black-gradient);
    background-size: cover, contain;
    /*  background-position: center, right, left, bottom; */
    position: absolute;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .textBanner {
    width: 100%;
    justify-content: center;
    z-index: 2 !important;
    position: absolute;
    bottom: 30px;
    h3{
      text-transform: uppercase; 
    }

    h3, p{
      color: var(--color-white);
      text-shadow: 2px 2px 14px var(--color-purple);
    }

  }

  .bannerImage {
    height: 70vh;
    object-fit: cover;
   /*  @media (max-width: 920px) {
      object-fit: cover;
    } */
  }

}