@import "bootstrap/scss/bootstrap";

:root {

  --color-purple: #535bf2;
  --color-purple-light: #747bff;
  --color-white: #ffff font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-black-gradient: linear-gradient(rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.199));
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {

  padding: 0;
  margin: 0;

  /*   display: flex; */
  /*  place-items: center; */
  /*   min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
 */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: var(--color-purple-light);
  }


}