.campoBusqueda {
    border-right: none !important;
}

.botonBusqueda {
    background-color: var(--color-purple) !important;
    color: white !important;
}

.botonBusqueda .campoBusqueda {
    border-radius: 0 !important;
}