.headerMenu {
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1003;
    form {
        margin-left: 10px;
    }
    .navbarMenu {
        background-color: var(--color-bg);
    }
    .linkMenu {
        font-weight: 500;
        &:hover {
            border-bottom: 3px solid var(--color-white);
        }
        a{
            padding-top: 12px;
            margin-left: 7px;
        }
    }
    .navbar-toggler {
        border: none !important;
        padding: 2px 5px;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none !important;
        background-color: var(--color-white);
        border-radius: 0 !important;
    }
}