.headerMenu {
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1003;

    .navbarMenu {
        background-color: var(--color-bg);
    }

    .linkMenu {
       
        font-weight: 500;

        &:hover {
            border-bottom: 2px solid var(--color-white);
        }
    }
}