.footer {

    background-color: var(--color-purple-semi);
    width: 100%;

    .listFooter {
        grid-area: 15px;
        padding: 20px 10% 15px 10%;
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        /*  justify-content: center;
        align-items: center; */
        width: 100%;
    }

    .bottom {
        margin-bottom: 0;
        width: 100%;
        height: 60px;
        background-color: var(--color-purple-lite);
    }
}