
.search-container {
   
    background-color: bisque;
    display: grid !important;
    gap: 20px;
    padding: 5%;

    .leftContent {
        background-color: darkgreen;
        grid-column: 1;
    }

    .rightContent {
        background-color: darkviolet;
        grid-column: 2;

        .menu-content{
            width: 100%;
            background-color: chartreuse;
            padding-top: 5%;
            padding-left: 1%;
            padding-right: 1%;
          
        }
    }


    @media (max-width:552px) {
      grid-column: 1;
        .leftContent { 
           grid-column: 1;
        }
        .rightContent {
           grid-column: 1;
        }
    }

  
}