.product-view {
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .image-gallery {
        background-color: green;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        img {
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }

    
    .main-image {
        background-color: yellow;
        justify-self: end;
        align-self: start;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .product-details {
        background-color: blue;
        align-self: start;
    }


    @media (max-width: 768px) {
        .product-view {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }

        .image-gallery {
            grid-template-columns: repeat(3, 1fr);
            grid-row: 1;
        }

        .main-image {
            justify-self: center;
            grid-row: 2;
        }

        .product-details {
            grid-row: 3;
        }

        .product-details h2 {
            font-size: 1.5rem;
        }
    }
}