:root {

  --color-white: #ffff;
  --color-white-medium: #f9f9f9;
  --color-white-ligt: rgba(255, 255, 255, 0.87);

  --color-purple: #535bf2;
  --color-purple-medium: #646cff;
  --color-dark: #1a1a1a;
  --color-dark-medium: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-white-ligt);

  background-color: var(--color-dark-medium);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-purple-medium);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-purple);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-purple-medium);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #63f700;
    background-color: var(--color-white);
  }

  a:hover {
    color: var(--color-purple-medium);
  }

  button {
    background-color: var(--color-white-medium);
  }
}