

@import "bootstrap/scss/bootstrap";

:root {

  --color-line: rgba(107, 107, 107, 0.137);
  --color-shadow: rgb(0, 0, 0, 0.5);
  --color-shadow2: rgba(0, 0, 0, 0.123);
  --color-black: rgb(0, 0, 0);
  --color-carousel-icon: rgba(24, 80, 185, 0.178);

  --color-text3: rgb(255, 230, 0);
  --color-red: rgb(255, 0, 0);
  --color-orange: rgb(255, 166, 0);
  --color-transparent: transparent;
  --color-search: rgb(206, 206, 0);
  --color-favorite: rgb(187, 0, 0);
  --color-truck: rgb(0, 167, 0);

  --color-blue: rgb(14, 71, 177);
  --color-blue-text: rgb(0, 6, 90);
  --color-hover: rgb(26, 128, 223);
  --color-cart: rgb(0, 158, 231);
  --color-user: rgb(0, 0, 185);
  --color-facebook: rgb(24, 81, 185);
  --color-twitter: rgb(29, 161, 242);
  --color-instagram: rgb(95, 75, 198);
  --color-services: cornflowerblue;
  --color-carousel: rgb(24, 92, 219);

  --color-gray: rgb(122, 122, 122);
  --color-light: rgb(233, 233, 233);
  --color-white: #ffff;
  --color-text: #555555;
  --color-text1: #777;
  --color-white-back: rgb(240, 248, 255);
  --color-nav: #f0f0f0;
  --color-search-gray: rgba(189, 189, 189, 0.507);
  --color-blur-gray: rgba(170, 170, 170, 0.705);
  --color-bright: rgba(255, 255, 255, 0.575);
  --color-semi-transparent: rgba(255, 255, 255, 0.322);
  /*  --color-black-gradient: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.507)); */


  --color-white: #ffff;
  --color-white-medium: #f9f9f9;
  --color-white-ligt: rgba(255, 255, 255, 0.87);

  --color-purple: #535bf2;
  --color-purple-medium: #646cff;

  --color-dark: #1a1a1a;
  --color-dark-medium: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-white-ligt);

  background-color: var(--color-dark-medium);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-purple-medium);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-purple);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-dark);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-purple-medium);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #63f700;
    background-color: var(--color-white);
  }

  a:hover {
    color: var(--color-purple-medium);
  }

  button {
    background-color: var(--color-white-medium);
  }
}