.rowSearch {

    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: white;
    padding: 10px;
    height: 204px;

    .leftSearch {
        background-color: red;
     
        min-width: 300px;

        img {
            max-height: 180px;
           
            max-width: 300px; 
        }
    }

    .rightSearch {
        background-color: blue;
        width: 70%;
        display: flex;
        flex-direction: row;

        .titleSearch {}

        .optionSearch {}
    }
}