.containerSearch {
    width: 100%;
    padding: 15px;

    .rowSearch {

        border: 2px solid gray;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
         background-color: white; 
        padding: 10px;
        min-height: 204px;
        max-height: 400px;
        gap: 10px;

        .leftSearch {
            display: flex;
            flex-wrap: wrap;
            width: 75%;
           background-color: red;
gap: 15px;
           .imageSearch{
            width: 32%;
               img {
                   max-height: 180px;
                   max-width: 250px;
               }
           }

            .titleSearch {
                padding-top: 5%;
                min-width: 200px;
                width: 50%;
                max-width: 400px;
               background-color: aqua;
            }
        }

        .rightSearch {
            min-width: 210px;
         
           background-color: blue;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

          

            .optionSearch {
                display: flex;
                justify-content: end;
                min-width: 200px;
                width: 45%;
               background-color: brown;
                align-items: center;
            }
        }
    }
}